* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-areas:
    "header header"
    "nav    principal";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  grid-area: header;
}

#panel-izquierda {
  grid-area: nav;
}

#principal {
  grid-area: principal;

  display: flex;
  flex-direction: column;
}

#series {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

#principal .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  #series {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  #series {
    grid-template-columns: 1fr;
  }
}
